.typeBox{
    height: 170px;
    width: 185px;
    /* padding: 10px; */
    background-color: #eee; 
    margin: 15px 0;
    /* background-size: cover; */
}

.type{
    margin-top: 20px;

}

.structures{
    font-weight: lighter;
    font-size: 0.8rem;
}