<header class="row primary text-white ">
  <div class="col-10 offset-1">
    <div class="row p10h">
      <div class="col-2">
        <img
          src="https://q-cf.bstatic.com/static/img/b26logo/booking_logo_retina/22615963add19ac6b6d715a97c8d477e8b95b7ea.png"
          alt="logo"
          class="img-fluid"
        />
      </div>
      <!-- col-2 -->

      <div class="col-6 offset-4">
        <div class="row float-right">
          <div class="m10w">
            <!-- <button mat-icon-button>
              <mat-icon>euro</mat-icon>
            </button> -->
          </div>
          <div class="m10w">
            <button mat-stroked-button>Resgistra la tua struttura</button>
          </div>
          <div class="m10w">
            <button mat-flat-button>Iscriviti</button>
          </div>
          <div class="m10w">
            <button mat-flat-button>Accedi</button>
          </div>
        </div>
      </div>
      <!-- col-6 -->
    </div>
    <!-- row -->

    <div class="row p10h">
      <button class="m10w" mat-button><mat-icon>home</mat-icon> Alloggi</button>
      <button class="m10w" mat-button><mat-icon>flight</mat-icon> Voli</button>
      <button class="m10w" mat-button><mat-icon>work</mat-icon> Voli + Hotel</button>
      <button class="m10w" mat-button><mat-icon>directions_car</mat-icon> Auto</button>
      <button class="m10w" mat-button><mat-icon>my_location</mat-icon> Attrazioni</button>
      <button class="m10w" mat-button><mat-icon>local_taxi</mat-icon> Taxi</button>
    </div>
    <!-- row -->
  </div>
  <!-- col-10 -->
</header>
